html {
  font-size: 16px;
}
body {
  margin: 0;
  position: relative;
  font-family: '微軟正黑體', 'Segoe UI';
}
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
img {
  max-width: 100%;
}

header {
  border-top: 15px solid #128ac9;
  position: relative;
}
header .head {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
header .head a.logo:hover {
  opacity: 0.8;
}
header .head .menu_btn {
  display: none;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem;
}
header .head .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header .head .menu ul.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
header .head .menu ul.nav > li {
  position: relative;
  display: flex;
  align-items: center;
}
header .head .menu ul.nav > li > a {
  display: block;
  font-size: 1.25rem;
  padding: 5px 12px;
  color: #333;
  text-decoration: none;
  line-height: 1;
}
header .head .menu ul.nav > li > a:hover {
  opacity: 0.8;
}
header .head .menu ul.nav > li > .sub_menu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 170%;
  transform: scaleY(0) translateX(-50%);
  transform-origin: top;
  transition-duration: 0.3s;
  z-index: 4;
  padding-top: 10px;
}
header .head .menu ul.nav > li > .sub_menu > ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: #eee;
  box-shadow: 5px 5px 10px #00000047;
}
header .head .menu ul.nav > li:hover > .sub_menu {
  transform: scaleY(1) translateX(-50%);
}
header .head .menu ul.nav > li > .sub_menu > ul > li {
  text-align: center;
  padding: 10px 10px;
}
header .head .menu ul.nav > li > .sub_menu > ul > li > a {
  display: block;
  font-size: 1.15rem;
  color: #333;
  text-decoration: none;
}
header .head .menu ul.nav > li > .sub_menu > ul > li > a:hover {
  opacity: 0.8;
}
header .head .menu ul.nav .mobile_lang {
  display: none;
  border-bottom: 1px solid #fff;
}
header .head .menu .search_btn {
  margin-left: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .head .menu .search_btn:hover {
  opacity: 0.8;
}
header .head .menu .search_bar {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2;
  width: 100%;
  background-color: #333;
  padding: 5px 0;
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 0.3s;
}
header .head .menu .search_bar.active {
  transform: scaleY(1);
}
header .head .menu .search_bar form {
  display: flex;
  align-items: center;
}
header .head .menu .search_bar form input[type='text'] {
  flex: 1;
  margin-right: 10px;
  background-color: unset;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 10px;
}
header .head .menu .search_bar form button {
  border: none;
  background-color: unset;
  color: #fff;
}
@media (max-width: 1200px) {
  header {
    border: none;
  }
  header .head {
    justify-content: space-between;
    align-items: center;
  }
  header .head a.logo {
    flex: 0 0 100px;
  }
  header .head a.logo img {
    width: 100%;
  }
  header .head .menu_btn {
    display: flex;
    font-size: 1.5rem;
  }
  header .head .menu .search_btn {
    font-size: 1.3rem;
  }
  header .head .menu ul.nav {
    background-color: #333;
    color: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 4;
    transform: scaleY(0);
    transition-duration: 0.3s;
    transform-origin: top;
    display: block;
    width: 100%;
  }
  header .head .menu ul.nav.active {
    transform: scaleY(1);
  }
  header .head .menu ul.nav.active > li {
    border-bottom: 1px solid #fff;
    display: block;
  }
  header .head .menu ul.nav.active > li:last-child {
    border-bottom: none;
  }
  header .head .menu ul.nav > li > a {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    padding: 16px;
  }
  header .head .menu ul.nav > li > .sub_menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: scaleY(1) translateX(0);
    box-shadow: unset;
    display: none;
    padding: 0;
  }
  header .head .menu ul.nav > li:hover > .sub_menu {
    transform: scaleY(1) translateX(0);
  }
  header .head .menu ul.nav > li.active > .sub_menu {
    display: block;
  }
  header .head .menu ul.nav > li > .sub_menu > ul li {
    text-align: left;
    padding: 0;
    border-bottom: 1px solid #333;
  }
  header .head .menu ul.nav > li > .sub_menu > ul > li a {
    font-size: 1.25rem;
    padding: 16px;
    line-height: 1;
  }
  header .head .menu ul.nav > li > .sub_menu > ul > li:last-child {
    border-bottom: none;
  }

  header .head .menu ul.nav > li.sub > a::after {
    font-size: 1.5rem;
    content: '\f0dd';
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    transform-origin: center;
    transition-duration: 0.3s;
  }
  header .head .menu ul.nav > li.sub.active > a::after {
    transform: rotate(180deg);
  }
}

/* 頁面上面banner */
.top_banner {
  background-image: url(../images/common/top_banner.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}
.top_banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  z-index: 1;
}
.top_banner .container {
  position: relative;
  height: 100%;
  z-index: 3;
}
.top_banner .text {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}
.top_banner .text .inner_text .name {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 34px;
}
.top_banner .text .inner_text .name:after {
  content: '';
  display: block;
  width: 478px;
  border-bottom: 5px solid #fff;
  margin-top: 34px;
}
.top_banner .text .inner_text .sub_name {
  font-size: 1.75rem;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .top_banner {
    height: 200px;
  }
  .top_banner .text .inner_text .name {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .top_banner .text .inner_text .name:after {
    margin-top: 10px;
    width: 300px;
    border-width: 3px;
  }
  .top_banner .text .inner_text .sub_name {
    font-size: 1.5rem;
  }
}

/*麵包屑*/
ul.bread {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding: 20px 0;
}
ul.bread li {
  display: inline;
  color: #333;
  align-items: center;
}
ul.bread li::after {
  content: '/';
  margin: 0 5px 2px 5px;
}
ul.bread li:last-child:after {
  display: none;
}
ul.bread li a {
  color: #333;
}
@media (max-width: 1200px) {
  ul.bread {
    padding: 15px 0;
  }
}

/*內頁框架*/
.page {
  background-color: #fcfcfc;
  padding-bottom: 30px;
  padding: 80px 0 100px 0;
}
@media (max-width: 1200px) {
  .page {
    padding: 20px 0 60px 0;
  }
}

/*編輯區*/
.editor {
  padding-top: 25px;
  font-size: 1.5rem;
  margin-bottom: 80px;
  color: #333333;
}
.editor p {
  margin-bottom: 30px;
}
.editor ul {
  list-style: disc;
  padding-left: 24px;
}
.editor ul li {
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .editor {
    font-size: 1.25rem;
  }
  .editor p {
    margin-bottom: 20px;
  }
  .editor ul li {
    margin-bottom: 20px;
  }
}

/* 編輯文字及列表 */
.edeitor_desc {
  font-size: 1.75rem;
  margin-bottom: 80px;
}
.edeitor_desc p {
  margin-bottom: 37px;
}
.edeitor_desc p:last-child {
  margin-bottom: 0;
}
.edeitor_desc > ul {
  list-style: disc;
  padding-left: 30px;
}
.edeitor_desc > ul > li {
  margin-bottom: 20px;
}
.edeitor_desc > ul > li:last-child {
  margin-bottom: 0;
}
.edeitor_desc > ul > li > .sub {
  display: flex;
}
.edeitor_desc > ul > li > .sub > ol {
  list-style: decimal-leading-zero;
  padding-left: 16px;
  margin-top: 20px;
  margin-right: 70px;
}
.edeitor_desc > ul > li > .sub > ol:last-child {
  margin-right: 0;
}
.edeitor_desc > ul > li > .sub > ol > li {
  margin-bottom: 16px;
}

ul.text_list {
  display: flex;
  font-size: 1.5rem;
  padding-left: 15px;
  margin-bottom: 80px;
}
ul.text_list > li {
  margin-right: 20px;
}
ul.text_list > li:last-child {
  margin-right: 0;
}
ul.text_list > li > .name {
  margin-bottom: 20px;
}
ul.text_list > li > .name::before {
  content: url(../images/trials/trials_icon.svg);
  margin-right: 15px;
}
ul.text_list > li > ul {
  padding-left: 50px;
  list-style: disc;
}
ul.text_list > li > ul > li {
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .edeitor_desc {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  .edeitor_desc p {
    margin-bottom: 20px;
  }
  .edeitor_desc > ul > li > .sub {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .edeitor_desc > ul > li > .sub > ol {
    flex: 0 0 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 30px;
  }

  ul.text_list {
    flex-wrap: wrap;
    font-size: 1.25rem;
    padding-left: 0;
    margin-bottom: 30PX;
  }
  ul.text_list > li {
    flex: 0 0 100%;
    margin-right: 0;
  }
}

/* 編輯圖片 */
.edeitor_image {
  text-align: center;
  margin-bottom: 80px;
}
.image_list {
  display: flex;
  margin-bottom: 80px;
}
.image_list .item {
  margin-right: 50px;
}
.image_list .item:last-child {
  margin-right: 0;
}
@media (max-width: 1200px) {
  .edeitor_image {
    margin-bottom: 30px;
  }
  .image_list {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .image_list .item {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .image_list .item img {
    width: 100%;
  }
}

/* 清單 */
.table_list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.table_list .item {
  max-width: 380px;
  flex: 1;
}
.table_list .item .name {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b28146;
  border-left: none;
  font-size: 1.25rem;
}
.table_list .item:first-child .name {
  border-left: 2px solid #b28146;
}
.table_list .item:nth-child(1) .name {
  background-color: #ffe6c0;
}
.table_list .item:nth-child(2) .name {
  background-color: #ccd9ff;
}
.table_list .item:nth-child(3) .name {
  background-color: #04ff6829;
}
.table_list .item .text {
  border: 2px solid #b28146;
  border-left: none;
  border-top: none;
  height: calc(100% - 130px);
  padding: 25px 10px;
  display: flex;
  align-items: center;
}
.table_list .item:first-child .text {
  border-left: 2px solid #b28146;
}
.table_list .item .text ul {
  list-style: disc;
  padding-left: 24px;
  font-size: 1.25rem;
}
.table_list .item .text ul li {
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .table_list {
    flex-wrap: wrap;
  }
  .table_list .item {
    flex: 0 0 100%;
    max-width: unset;
    margin-bottom: 30px;
  }
  .table_list .item .name {
    border-left: 2px solid #b28146;
  }
  .table_list .item:first-child .name {
    border-right: 2px solid #b28146;
  }
  .table_list .item .text {
    border-left: 2px solid #b28146;
  }
  .table_list .item:first-child .text {
    border-right: 2px solid #b28146;
  }
}

/* 表單 */
.edeitor_table {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
.edeitor_table .table_title {
  color: #b28146;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.edeitor_table .thead {
  display: flex;
  border-bottom: 1px solid #ddd;
}
.edeitor_table .thead .th {
  flex: 1;
  font-size: 1.25rem;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #e2e7f7;
}
.edeitor_table .thead .th:nth-child(2) {
  flex: 0 0 120px;
}
.edeitor_table .tbody .tr {
  display: flex;
  border-bottom: 1px solid #ddd;
}
.edeitor_table .tbody .tr:nth-child(even) {
  background-color: #eee;
}
.edeitor_table .tbody .tr .td {
  flex: 1;
  font-size: 1.25rem;
  padding: 10px;
}
.edeitor_table .tbody .tr .td:nth-child(2) {
  flex: 0 0 120px;
}
.edeitor_table .tbody .tr .td a {
  color: #333;
}

@media (max-width: 1200px) {
  .edeitor_table {
    margin-bottom: 30px;
  }
  .edeitor_table .table_title {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
}

/* 聯絡我們上方 */
.editor_info .title {
  font-size: 1.5rem;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 640px;
}
.editor_info .info_list {
  display: flex;
  margin-bottom: 120px;
}
.editor_info .info_list .item {
  flex: 1;
  text-align: center;
  margin-right: 110px;
}
.editor_info .info_list .item:last-child {
  margin-right: 0;
}
.editor_info .info_list .item .img {
  margin-bottom: 20px;
}
.editor_info .info_list .item .desc .name {
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.editor_info .info_list .item .desc .text {
  margin-bottom: 15px;
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .editor_info .title {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  .editor_info .info_list {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .editor_info .info_list .item {
    flex: 0 0 100%;
    margin-right: 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .editor_info .info_list .item:last-child {
    margin-bottom: 0;
  }
  .editor_info .info_list .item .img {
    margin-bottom: 0;
    flex: 0 0 100px;
    margin-right: 30px;
  }
  .editor_info .info_list .item .desc {
    text-align: left;
  }
  .editor_info .info_list .item .desc .name {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
  .editor_info .info_list .item .desc .text {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
}

/*分頁*/
.pager {
  margin-top: 120px;
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.pager a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #333333;
  border-right: none;
  font-size: 1.25rem;
}
.pager a:last-child {
  border-right: 1px solid #333333;
}
.pager a.active {
  background-color: #333333;
  color: #fff;
}
.pager a:last-child {
  margin-right: 0;
}
.pager a:hover {
  background-color: #333333;
  color: #fff;
}
.pager .prev,
.pager .next {
  width: 70px;
}
.pager .prev {
  border-radius: 5px 0 0 5px;
}
.pager .next {
  border-radius: 0 5px 5px 0;
}
.pager .prev::before {
  content: '<<';
}
.pager .next::before {
  content: '>>';
}
@media (max-width: 1200px) {
  .pager {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .pager a {
    font-size: 1rem;
    width: 30px;
    height: 30px;
  }
  .pager .prev,
  .pager .next {
    width: 50px;
  }
}

/*上下頁*/
.pager_list {
  display: flex;
  justify-content: center;
}
.pager_list a {
  width: 220px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333333;
  background-color: #333333;
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
}
.pager_list a:hover {
  opacity: 0.8;
}
.pager_list a:last-child {
  margin-right: 0;
}
.pager_list a.prev,
.pager_list a.next {
  background-color: #fff;
  color: #333333;
}
.pager_list a.prev.disabled,
.pager_list a.next.disabled {
  border-color: #333333;
  color: #333333;
  cursor: default;
}
.pager_list a.prev.disabled:hover,
.pager_list a.next.disabled:hover {
  opacity: 1;
}
@media (max-width: 1200px) {
  .pager_list a {
    margin-right: 10px;
  }
}

/*頁尾*/
footer {
  background-color: #f1faee;
  padding: 67px 0 20px 0;
}
footer .foot_con {
  max-width: 1750px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .foot_con .left .logo {
  margin-bottom: 50px;
}
footer .foot_con .left .logo a {
  display: block;
}
footer .foot_con .left .info .company {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .foot_con .left .info .item {
  font-size: 1.25rem;
  margin-bottom: 5px;
}
footer .foot_con .left .info .item:last-child {
  margin-bottom: 0;
}
footer .foot_con .right {
  flex: 0 0 1240px;
}
footer .foot_con .right ul.menu {
  width: 100%;
  display: flex;
}
footer .foot_con .right ul.menu > li {
  flex: 1;
  margin-right: 20px;
}
footer .foot_con .right ul.menu > li:last-child {
  margin-right: 0;
}
footer .foot_con .right ul.menu > li .top_name {
  font-size: 1.5rem;
  margin-bottom: 25px;
  font-weight: 600;
}
footer .foot_con .right ul.menu > li > ul > li {
  margin-bottom: 15px;
}
footer .foot_con .right ul.menu > li > ul > li:last-child {
  margin-bottom: 0;
}
footer .foot_con .right ul.menu > li > ul > li > a {
  color: #000;
  font-size: 1.25rem;
  text-decoration: none;
}
footer .foot_con .copyright {
  flex: 0 0 100%;
  font-size: 0.85rem;
  margin-top: 87px;
  text-align: center;
}
@media (max-width: 1650px) {
  footer .foot_con .left .info .company {
    font-size: 1.35rem;
  }
  footer .foot_con .left .info .item {
    font-size: 1.15rem;
  }
  footer .foot_con .right {
    flex: 0 0 1100px;
  }
  footer .foot_con .right ul.menu > li {
    margin-right: 10px;
  }
  footer .foot_con .right ul.menu > li .top_name {
    font-size: 1.35rem;
  }
  footer .foot_con .right ul.menu > li > ul > li > a {
    font-size: 1.15rem;
  }
}
@media (max-width: 1500px) {
  footer .foot_con .left .logo {
    margin-bottom: 30px;
  }
  footer .foot_con .left .info .company {
    font-size: 1.25rem;
  }
  footer .foot_con .left .info .item {
    font-size: 1rem;
  }
  footer .foot_con .right {
    flex: 0 0 960px;
  }
  footer .foot_con .right ul.menu > li {
    margin-right: 10px;
  }
  footer .foot_con .right ul.menu > li .top_name {
    font-size: 1.25rem;
  }
  footer .foot_con .right ul.menu > li > ul > li > a {
    font-size: 1rem;
  }
  footer .foot_con .copyright {
    margin-top: 60px;
  }
}
@media (max-width: 1310px) {
  footer {
    padding: 30px 0 20px 0;
  }
  footer .foot_con .left {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  footer .foot_con .left .logo {
    margin-bottom: 20px;
  }
  footer .foot_con .left .info .company {
    font-size: 1.5rem;
  }
  footer .foot_con .left .info .item {
    font-size: 1.25rem;
  }
  footer .foot_con .right {
    flex: 0 0 100%;
  }
  footer .foot_con .right ul.menu {
    flex-wrap: wrap;
  }
  footer .foot_con .right ul.menu > li {
    flex: 0 0 50%;
    margin-right: 0;
    margin-bottom: 30px;
    padding-right: 20px;
  }
  footer .foot_con .right ul.menu > li .top_name {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  footer .foot_con .right ul.menu > li > ul > li > a {
    font-size: 1.25rem;
  }
  footer .foot_con .copyright {
    margin-top: 50px;
  }
}

.a2a_default_style {
  display: inline-block;
  text-align: center;
}
.a2a_default_style span.a2a_svg {
  display: none;
}
.a2a_default_style a.a2a_button_facebook,
.a2a_default_style a.a2a_button_twitter,
.a2a_default_style a.a2a_button_linkedin,
.a2a_default_style a.a2a_button_wechat,
.a2a_default_style a.a2a_button_sina_weibo,
.a2a_default_style a.a2a_button_email,
.a2a_default_style a.a2a_button_whatsapp,
.a2a_default_style a.a2a_button_line {
  width: 30px;
  height: 30px;
  background: #777;
  color: #fff;
  display: inline-block;
  border-radius: 100%;
  font-family: 'Font Awesome 5 Brands', 'Font Awesome 5 Free';
  line-height: 30px;
  margin-right: 5px;
}
.a2a_button_facebook::before {
  content: '\f39e' !important;
}
.a2a_button_twitter::before {
  content: '\f099' !important;
}
.a2a_button_linkedin::before {
  content: '\f0e1' !important;
}
.a2a_button_wechat::before {
  content: '\f1d7' !important;
}
.a2a_button_sina_weibo::before {
  content: '\f18a' !important;
}
.a2a_button_email::before {
  content: '\f0e0' !important;
}
.a2a_button_whatsapp::before {
  content: '\f232' !important;
}
.a2a_button_line::before {
  content: '\f3c0' !important;
}

a.a2a_button_facebook:hover {
  background: #405d9a;
  text-decoration: none;
}
a.a2a_button_twitter:hover {
  background: #39a0ce;
  text-decoration: none;
}
a.a2a_button_linkedin:hover {
  background: #0177b5;
  text-decoration: none;
}
a.a2a_button_wechat:hover {
  background: #00c300;
  text-decoration: none;
}
a.a2a_button_sina_weibo:hover {
  background: #de220a;
  text-decoration: none;
}
a.a2a_button_email:hover {
  background: #f34537;
  text-decoration: none;
}
a.a2a_button_whatsapp:hover {
  background: #00c300;
  text-decoration: none;
}
a.a2a_button_line:hover {
  background: #00b900;
  text-decoration: none;
}
