@import url(./common.css);

.inner_page {
  max-width: 1030px;
  margin: 0 auto;
}
.inner_page .section {
  border-bottom: 1px solid #707070;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
.inner_page .section:first-child {
  padding-top: 0;
}
.inner_page .section:last-child {
  border-bottom: none;
}
.inner_page .section .title {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #b28146;
  margin-bottom: 60px;
}
.inner_page .section .sub_title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.inner_page .section .desc {
  font-size: 1.75rem;
  margin-bottom: 80px;
}
.inner_page .section .desc p {
  margin-bottom: 37px;
}
.inner_page .section .desc p:last-child {
  margin-bottom: 0;
}
.inner_page .section .desc > ul {
  list-style: disc;
  padding-left: 30px;
}
.inner_page .section .desc > ul > li {
  margin-bottom: 20px;
}
.inner_page .section .desc > ul > li:last-child {
  margin-bottom: 0;
}
.inner_page .section .desc > ul > li > .sub {
  display: flex;
}
.inner_page .section .desc > ul > li > .sub > ol {
  list-style: decimal-leading-zero;
  padding-left: 16px;
  margin-top: 20px;
  margin-right: 70px;
}
.inner_page .section .desc > ul > li > .sub > ol:last-child {
  margin-right: 0;
}
.inner_page .section .desc > ul > li > .sub > ol > li {
  margin-bottom: 16px;
}
.inner_page .section .image {
  text-align: center;
  margin-bottom: 80px;
}
.inner_page .section .image_list {
  display: flex;
  margin-bottom: 80px;
}
.inner_page .section .image_list .item {
  margin-right: 50px;
}
.inner_page .section .image_list .item:last-child {
  margin-right: 0;
}

.inner_page .section ul.text_list {
  display: flex;
  font-size: 1.5rem;
  padding-left: 15px;
  margin-bottom: 80px;
}
.inner_page .section ul.text_list > li {
  margin-right: 20px;
}
.inner_page .section ul.text_list > li:last-child {
  margin-right: 0;
}
.inner_page .section ul.text_list > li > .name {
  margin-bottom: 20px;
}
.inner_page .section ul.text_list > li > .name::before {
  content: url(../images/trials/trials_icon.svg);
  margin-right: 15px;
}
.inner_page .section ul.text_list > li > ul {
  padding-left: 50px;
  list-style: disc;
}
.inner_page .section ul.text_list > li > ul > li {
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .inner_page .section {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .inner_page .section .title {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .inner_page .section .sub_title {
    font-size: 1.25rem;
  }
  .inner_page .section .desc {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  .inner_page .section .desc p {
    margin-bottom: 20px;
  }
  .inner_page .section .image {
    margin-bottom: 30px;
  }
  .inner_page .section .image_list {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .inner_page .section .image_list .item {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .inner_page .section .image_list .item img {
    width: 100%;
  }
  .inner_page .section .desc > ul > li > .sub {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .inner_page .section .desc > ul > li > .sub > ol {
    flex: 0 0 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 30px;
  }
  .inner_page .section ul.text_list {
    flex-wrap: wrap;
    font-size: 1.25rem;
  }
  .inner_page .section ul.text_list > li {
    flex: 0 0 100%;
    margin-right: 0;
  }
}
.inner_page .table_list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.inner_page .table_list .item {
  max-width: 380px;
  flex: 1;
}
.inner_page .table_list .item .name {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b28146;
  border-left: none;
  font-size: 1.25rem;
}
.inner_page .table_list .item:first-child .name {
  border-left: 2px solid #b28146;
}
.inner_page .table_list .item:nth-child(1) .name {
  background-color: #ffe6c0;
}
.inner_page .table_list .item:nth-child(2) .name {
  background-color: #ccd9ff;
}
.inner_page .table_list .item:nth-child(3) .name {
  background-color: #04ff6829;
}
.inner_page .table_list .item .text {
  border: 2px solid #b28146;
  border-left: none;
  border-top: none;
  height: calc(100% - 130px);
  padding: 25px 10px;
  display: flex;
  align-items: center;
}
.inner_page .table_list .item:first-child .text {
  border-left: 2px solid #b28146;
}
.inner_page .table_list .item .text ul {
  list-style: disc;
  padding-left: 24px;
  font-size: 1.25rem;
}
.inner_page .table_list .item .text ul li {
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .inner_page .table_list {
    flex-wrap: wrap;
  }
  .inner_page .table_list .item {
    flex: 0 0 100%;
    max-width: unset;
    margin-bottom: 30px;
  }
  .inner_page .table_list .item:first-child .name {
    border-right: 2px solid #b28146;
  }
  .inner_page .table_list .item:first-child .text {
    border-right: 2px solid #b28146;
  }
}

/* 表單 */
.inner_page .table {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
.inner_page .table .table_title {
  color: #b28146;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.inner_page .table .thead {
  display: flex;
  border-bottom: 1px solid #ddd;
}
.inner_page .table .thead .th {
  flex: 1;
  font-size: 1.25rem;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #e2e7f7;
}
.inner_page .table .thead .th:nth-child(2) {
  flex: 0 0 120px;
}
.inner_page .table .tbody .tr {
  display: flex;
  border-bottom: 1px solid #ddd;
}
.inner_page .table .tbody .tr:nth-child(even) {
  background-color: #eee;
}
.inner_page .table .tbody .tr .td {
  flex: 1;
  font-size: 1.25rem;
  padding: 10px;
}
.inner_page .table .tbody .tr .td:nth-child(2) {
  flex: 0 0 120px;
}
.inner_page .table .tbody .tr .td a {
  color: #333;
}

@media (max-width: 1200px) {
  .inner_page .table{
    margin-bottom: 30px;
  }
  .inner_page .table .table_title{
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
}

.contact .info {
  max-width: 784px;
  margin: 0 auto;
}
.contact .info .title {
  font-size: 1.5rem;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 640px;
}
.contact .info .info_list {
  display: flex;
  margin-bottom: 120px;
}
.contact .info .info_list .item {
  flex: 1;
  text-align: center;
  margin-right: 110px;
}
.contact .info .info_list .item:last-child {
  margin-right: 0;
}
.contact .info .info_list .item .img {
  margin-bottom: 20px;
}
.contact .info .info_list .item .desc .name {
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.contact .info .info_list .item .desc .text {
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.contact .info .form {
  padding: 50px 40px;
  background-color: #fff;
  border-radius: 10px;
}
.contact .info .form .name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 60px;
  text-align: center;
}
.contact .info .form .list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -35px;
  margin-bottom: 80px;
}
.contact .info .form .list .input {
  flex: 0 0 100%;
  padding: 0 35px;
  margin-bottom: 30px;
}
.contact .info .form .list .input.half {
  flex: 0 0 50%;
}
.contact .info .form .list .input label {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 10px;
  padding-left: 5px;
}
.contact .info .form .list .input label span {
  color: #f90b0b;
}
.contact .info .form .list .input input,
.contact .info .form .list .input select,
.contact .info .form .list .input textarea {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
  color: #bbb;
}
.contact .info .form .list .input textarea {
  min-height: 200px;
}
.contact .info .form .list .input input::placeholder,
.contact .info .form .list .input textarea::placeholder {
  color: #bbb;
}
.contact .info .form .list .input .verify {
  display: flex;
  align-items: center;
}
.contact .info .form .list .input .verify input {
  flex: 0 0 205px;
  margin-right: 10px;
}
.contact .info .form .list .input .verify img {
  margin-right: 10px;
}
.contact .info .form .list .input .verify button {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  color: #aaa;
}
.contact .info .form .list .input .verify button:hover {
  opacity: 0.8;
}
.contact .info .form .btns {
  display: flex;
  justify-content: center;
}
.contact .info .form .btns button {
  border: 1px solid #848484;
  background-color: #fff;
  width: 160px;
  height: 40px;
  margin-right: 50px;
  border-radius: 50px;
  color: #848484;
}
.contact .info .form .btns button:hover {
  opacity: 0.8;
}
.contact .info .form .btns button:last-child {
  margin-right: 0;
}
.contact .info .form .btns button.send {
  background-color: #848484;
  color: #fff;
}
@media (max-width: 1200px) {
  .contact .info .title {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  .contact .info .info_list {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .contact .info .info_list .item {
    flex: 0 0 100%;
    margin-right: 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .contact .info .info_list .item:last-child {
    margin-bottom: 0;
  }
  .contact .info .info_list .item .img {
    margin-bottom: 0;
    flex: 0 0 100px;
    margin-right: 30px;
  }
  .contact .info .info_list .item .desc {
    text-align: left;
  }
  .contact .info .info_list .item .desc .name {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
  .contact .info .info_list .item .desc .text {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
  .contact .info .form {
    padding: 30px 20px;
  }
  .contact .info .form .name {
    margin-bottom: 30px;
  }
  .contact .info .form .list {
    margin-bottom: 40px;
  }
  .contact .info .form .list .input.half {
    flex: 0 0 100%;
  }
}
